.hero {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 5rem 3rem;
  background-color: #ffffff;
}

.hero-text {
  max-width: 600px;
  padding-left: 50px;
}

.hero-text h2 {
  font-size: 2.3rem;
  color: #2b7a78;
  margin-bottom: 1rem;
}

.hero-text p {
  color: #444;
  font-size: 20px;
  line-height: 1.6;
  margin-bottom: 1.2rem;
}

.buttons {
  display: flex;
  gap: 1rem;
  margin-top: 1.5rem;
}

.btn-primary {
  background-color: #2b7a78;
  color: white;
  border: none;
  padding: 0.9rem 1.4rem;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
}
.btn-primary:hover {
  background-color: #2b547a;
  color: white;
  transition: ease-in-out 0.3s;
}

.btn-secondary {
  background-color: transparent;
  border: 2px solid #2b7a78;
  color: #2b7a78;
  padding: 0.9rem 1.4rem;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
}
.btn-secondary:hover {
  background-color: #2b547a;
  color: white;
  transition: ease-in-out 0.3s;
}

.hero-image {
  position: relative;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.scan-wrapper {
  position: relative;
  width: 350px;
  height: 400px;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

.scan-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.scanner-line {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 5px;
  background: rgba(0, 153, 255, 0.8);
  box-shadow: 0 0 25px rgba(0, 153, 255, 0.9);
  border-radius: 4px;
  animation: scanMotion 3s linear infinite;
}

@keyframes scanMotion {
  0% {
    top: 0;
  }
  50% {
    top: calc(100% - 5px);
  }
  100% {
    top: 0;
  }
}

